@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*
{
    font-family: 'Raleway';
    font-size: 1em;
}

body
{
    height: 100%;
    font-size: 16px;
}

#marge_body
{
    margin: auto;
    margin-left: 50px;
    margin-right: 50px;
}


.d-flex
{
    display: flex;
}

.flex_center
{
    display: flex;
    justify-content: center;
    align-items: center;
}


.margin_nav
{
    margin-left: 50px;
    text-decoration: none;
}

nav li
{
    margin-left: 50px;
    list-style: none;
    padding-top: 30px;
}

#SignUp
{
    padding-top: 30px;
    color: #0065FC;
    font-weight: bold ;
}

a
{
    text-decoration: none;
}

li:hover
{
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

.hover_link:hover
{
    background-color: rgb(226, 223, 223);
}

.logo
 {
    flex: 1;
    margin-top: 30px;
 }


#tittle
{
    font-weight: bold;
    font-size: 22px;
    padding-top: 50px;
}

#subtittle
{
    padding-top: 10px;
}

#box_search_zone
{
    display: flex;
    padding-top: 20px;
}

#search_zone
{
    border: 1px #d9d9d9 solid;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    font-weight: bold;
    font-size: 1.2em;
}

#search_button
{
    color: white;
    background-color: #0065FC;
    border: 1px #0065FC solid;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
}
