@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*
{
    font-family: 'Raleway';
    font-size: 1em;
}

body
{
    height: 100%;
    font-size: 16px;
}

#marge_body
{
    margin: auto;
    margin-left: 50px;
    margin-right: 50px;
}


.d-flex
{
    display: flex;
}

.flex_center
{
    display: flex;
    justify-content: center;
    align-items: center;
}


.margin_nav
{
    margin-left: 50px;
    text-decoration: none;
}

nav li
{
    margin-left: 50px;
    list-style: none;
    padding-top: 30px;
}

#SignUp
{
    padding-top: 30px;
    color: #0065FC;
    font-weight: bold ;
}

a
{
    text-decoration: none;
}

li:hover
{
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

.hover_link:hover
{
    background-color: rgb(226, 223, 223);
}

.logo
 {
    flex: 1;
    margin-top: 30px;
 }


#tittle
{
    font-weight: bold;
    font-size: 22px;
    padding-top: 50px;
}

#subtittle
{
    padding-top: 10px;
}

#box_search_zone
{
    display: flex;
    padding-top: 20px;
}

#search_zone
{
    border: 1px #d9d9d9 solid;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    font-weight: bold;
    font-size: 1.2em;
}

#search_button
{
    color: white;
    background-color: #0065FC;
    border: 1px #0065FC solid;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
}

.border_icon
{
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.border_filter
{
    border:2px #d9d9d9 solid;
    border-left: none;
    height: 46px;
    margin-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
}

#filter
{
    font-weight: bold;
    font-size: 1.2em;
}
.border_filter span
{
    padding-left: 12px;
    font-weight: bold;
    font-size: 1.2rem;
}

.placement_icon_filter
{
    display: flex;
    align-items: baseline;
}


#placement-filter
{
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
}

#filters
{
    display: flex;
    flex-wrap: wrap;
}

.loupe 
{
    display: none;
}

.wraper_info
{
    align-items: baseline;
}

.border_info
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border: 1px #d9d9d9 solid;
    border-radius: 50%;
}


#good_to_know
{
    margin-left: 10px;
    padding-top: 40px;
    font-size: 1.1em;
}

#info_icon
{
    color: #0065FC;
    font-size: 0.7em;
}

.name_size
{

    font-size: 1.1rem;
    font-weight: bold;
}

.prize_size
{
    font-size: 0.9em;
}

.star_size
{
    font-size: 0.6em;
}

.blue_star
{
    color: #0065FC;
}

.grey_star
{
    color: #d9d9d9 ;
}

.title_section
{
    font-weight: bold;
    font-size: 22px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.placement_text_aside
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 2;
}

#icon_localisation
{
    padding-top: 19px;
    padding-bottom: 18px;
    padding-right: 18px;
    padding-left: 18px;
    margin-right: -5px;
    border: 1px #F2F2F2 solid;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #F2F2F2;
}

article
{
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 20px;
    padding-top: 20px;
    margin-top: 30px;
    padding-left: 30px;
    padding-bottom: 20px;
    flex: 2;
}

.img_article
{
    width:  100%;
    height: 58%;
    object-fit: cover;
}

.placement_article
{
    display: flex;
    flex-wrap: wrap;
}

.placement_little_article
{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    border: 5px solid white;
    border-top: 1px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgb(228, 222, 222) ;
    flex: 25%;
    height: 180px;
    margin-right: 25px;
    margin-bottom: 25px;
    overflow: hidden;
}

.margin_txt_article
{
    margin-left: 10px;
}

aside
{
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;
    border-radius: 20px;
    margin-left: 30px;
    padding-top: 10px;
    margin-top: 30px;
}

.dimension_img_aside
{
    width: 40%;
    height: 100%;
    object-fit: cover;
    margin-right: 10px;
}

#placement_aside
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


#title_popularity
{
    width: 100%;
    display: flex;
    justify-content: space-around;
;
}

.article_aside
{
    background-color: white;
    display: flex;
    flex-direction: row;
    border: 5px solid white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(228, 222, 222) ;
    width: 80%;
    height: 130px;
    margin-bottom: 20px;
    overflow: hidden;
    box-sizing: border-box;
}


#activities
{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4,(minmax(100px)));
    grid-template-rows: 50px 200px 200px;
    padding-top: 50px;

}

.design_activities
{
    border-radius: 25px;
    box-shadow: 5px 5px 10px rgb(228, 222, 222) ;
    overflow: hidden;
}

#activity
{
    grid-column: 1 / 5;
    grid-row: 1 / 2;
}


#vieux_port
{
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}

#fort_de_pommègues
{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}


#iles_de_frioul
{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

#calanques
{
    grid-column: 3 / 4;
    grid-row: 2 / 4;
}

#notre_dame
{
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

#parc_longchamp
{
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}

.activities_img_solo
{
    width: 100%;
    height: 88%;
    object-fit: cover;
}

.activities_img_duo
{
    width: 100%;
    height: 75%;
    object-fit: cover;
}


.title_activities
{
    padding-left: 20px;
    font-weight: bold;
    font-size: 1.2rem;
    padding-top: 10px;
}

.title_footer
{
    font-weight: bold;
    font-size: 20px;
}

footer
{
    background-color: #F2F2F2;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    border-radius: 20px;
    margin-top: 40px;
    padding-top: 30px;
    padding-bottom: 70px;
    padding-left: 0;
}

.margin_footer
{
    margin-left: 50px;
    margin-right: 180px;
}

.padding_footer
{
    padding-top: 10px;
}
 
